{% extends 'base.html' %}

{% block body %}

<h1>Add New Employees Details</h1>
<div class="container">

    <div>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="FUll name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email ID">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<h2> All Employee Details</h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in allemployee %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>
                    <a href="/update/{{i.sno}}" class="btn btn-primary btn-sm" role="button">Update</a>
                    <a href="/delete/{{i.sno}}" class="btn btn-dark btn-sm" role="button">Delete</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock body %}